{% extends "base.html" %}

{% block title %}Thank you for purchase!{% endblock %}

{% block body %}

<div class="container h-50 d-flex flex-column justify-content-center">

    <div class="jumbotron text-center mb-5">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
        <hr>
        <p>
            Having trouble? <a href="/">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
        </p>
    </div>

</div>



{% endblock %}