{% extends "Adminbase.html" %}

{% block title %}Order group{% endblock %}

{% block body %}
<h1 class="text-center">Order group # {{orderGroupId}}</h1>
<a class="btn btn-danger mb-3 ms-3" href="/admin/aorders">Back</a>
<div class="d-flex">

    <div class="col-4 ps-3">
        <div class="p-3 border rounded-4">
            <h5>Client info</h5>
            <p>Name:
                <span>{{client.name}}</span>
                <span>{{client.surname}}</span>
            </p>
            <p>E-mail: <span>{{client.email}}</span></p>
        </div>
    </div>

    <div class="table-responsive col-8 ps-3 pt-3 overflow-auto" style="height: 600px">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">price</th>
                <th scope="col">description</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>

            {% for product in products %}

            <tr>
                <th scope="row">
                    {{product.order_item_id}}
                </th>
                <td>
                    {{product.title}}
                </td>
                <td>
                    {{product.price}}
                </td>
                <td>
                    {{product.description}}
                </td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="order_item_id" value="{{product.order_item_id}}">
                        <input type="hidden" name="action" value="change_status">

                        <select class="form-select mb-3" name="status">
                            <option value="paid" {% if product.status == 'paid' %} selected {% endif %} >Paid</option>
                            <option value="preprocess" {% if product.status == 'preprocess' %} selected {% endif %} >Preprocess</option>
                            <option value="packing" {% if product.status == 'packing' %} selected {% endif %} >Packing</option>
                            <option value="sent" {% if product.status == 'sent' %} selected {% endif %} >Sent</option>
                        </select>
                    </form>

                    <form action="" method="post">
                        <input type="hidden" name="order_item_id" value="{{product.order_item_id}}">
                        <input type="hidden" name="action" value="">

                        <button type="button" class="btn btn-primary" onclick="custom_submit('duplicate'); $(this).parent('form').submit();">Duplicate</button>

                        <button type="button" class="btn btn-danger" onclick="custom_submit('delete'); $(this).parent('form').submit();">Delete</button>
                    </form>
                </td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

</div>

<script>
    function custom_submit(text) {
        $('input[name="action"]').val(text);
    }

    $(document).ready(function () {
        $('select').on('change', function () {

            $(this).parent('form').submit();
        })
    })
</script>


{% endblock %}
